
<div class="trips-header text-center mt-2 py-2">
  <%if params[:starting_point].present? && params[:ending_point].present? %>
    <h1><%= params[:starting_point].downcase.capitalize %> > <%= params[:ending_point].downcase.capitalize %></h1>
  <%else %>
    <h1>Tous les trajets</h1>
  <%end %>
</div>
<div class="container" style="margin-bottom: 120px">
   <%= render "shared/tripscard"  %>
</div>
<div class="navbar-amz fixed-bottom w-100 mt-4">
  <%= link_to root_path do %>
   <%= image_tag "etoile.png", width:"30px", height:"30px"%>
  <% end  %>
  <%= link_to "Créer un trajet", new_trip_path, class:"navbar-item"  %>
  <%= link_to "Rechercher", root_path, class:"navbar-item-active"  %>
  <%= link_to "Mes trajets", dashboard_path, class:"navbar-item"%>
  <%= link_to user_page_path(current_user) do %>
      <%= cl_image_tag current_user.photo.key, class: "avatar"%>
  <% end %>
</div>
