<div class="container">
  <div class="row">
    <%@trips.each do |trip| %>
      <div class="col-12">
        <div class="card-trip my-3">
          <div class="card-trip-infos">
            <h2><strong>| Trajet de <%= trip.user.first_name %></strong></h2>
          </div>
          <img src="https://cdn-assets.alltrails.com/static-map/production/at-map/50957820/trail-france-paris-paris-d-ouest-en-est-at-map-50957820-1642755268-414x200-2.png" />
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <div class="row mt-3 justify-content-between">
            <div class="col-4 mx-3">
              <p class = "my-3"> Date: <%= trip.date.mday %>/<%= trip.date.mon %></p>
              <p class = "mb-3"> Heure: <%= trip.time.hour %>h<%= trip.time.min %></p>
            </div>
            <div class="col-4 mx-3">
              <p class = "my-3"> Amazones: <%= trip.users.count%></p>
              <p class = "mb-3"> Transport: <%= trip.transport%></p>
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
