<%= image_tag "logo.jpg", style: "width: 100%" %>

<div>
  <h1 class="text-center m-2">Les AMAZONES</h1>
</div>
<div>
  <p class="text-center">Girls Power</p>
  <p class="text-center"> Déplacez vous en sécurité quand vous voulez !</p>
</div>

<div class="container mt-5" style="width: 80%">
  <%= simple_form_for(@trip) do |f| %>
    <%= f.input :starting_point , placeholder: 'Départ', label: false %>
    <%= f.input :ending_point, placeholder: 'Arrivée', label: false %>
    <%= f.input :date, placeholder: 'Date', label: false, as: :date, html5: true%>
    <%= f.input :time, label: false, as: :time,html5: true %>
    <div class="d-flex justify-content-around mt-4" style="height: 50px; width:85%; text-align: center; position:relative; left: 30px">
      <%= image_tag "pieton.png" %>
      <%= image_tag "velo.png" %>
      <%= image_tag "voiture.png" %>
      <%= image_tag "taxi.png" %>
      <%= image_tag "métro.png" %>
    </div>
    <div class="d-flex justify-content-around m-1" style="width:85%; text-align: center; position:relative; left: 20px" >

      <%= f.collection_radio_buttons :transport, [['piéton', "  "], ['vélo', ' '], ['voiture', ' '], ['taxi', ' '], ['métro', ' ']], :first, :second , legend_tag: false, item_label_class: "d-none" %>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <%= f.submit "Créer un trajet", class: "button-red" %>
    </div>
  <% end %>
</div>
