<div class="container chatroom"   data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="chatroom-header text-center mt-2">
    <h1>#<%= @chatroom.trip.starting_point %> > <%= @chatroom.trip.ending_point %></h1>
    <p>le <span class="text-danger"><%= @chatroom.trip.date.strftime("%m/%d/%Y") %></span> à <span class="text-danger"><%= @chatroom.trip.time.strftime("%H:%M") %></span></p>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex mb-5"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"},
      style:"height: 20px",
      class:"form-control"
    %>
    <%= f.submit "Envoyer", class: "button-red", style:"height: 40px" %>
  <% end %>
</div>
<div class="navbar-amz fixed-bottom w-100">
  <%= image_tag "etoile.png", width:"30px", height:"30px"%>
  <%= link_to "Créer un trajet", new_trip_path, class:"navbar-item"  %>
  <%= link_to "Rechercher", root_path, class:"navbar-item"  %>
  <%= link_to "Mes trajets", dashboard_path, class:"navbar-item-active"%>
  <% if user_signed_in? %>
    <%= cl_image_tag current_user.photo.key, class: "avatar"%>
  <% else %>
    <%= image_tag "etoile.png", width:"30px", height:"30px"%>
  <% end  %>
</div>
