<div class="container chatroom"   data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="chatroom-header text-center mt-2">
    <h1>#<%= @chatroom.trip.starting_point %> > <%= @chatroom.trip.ending_point %></h1>
    <p>le <span class="text-danger"><%= @chatroom.trip.date.strftime("%m/%d/%Y") %></span> à <span class="text-danger"><%= @chatroom.trip.time.strftime("%H:%M") %></span></p>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Envoyer", class: "button-red mb-3" %>
  <% end %>
</div>
