<div class="container">

  <h3> Mon tableau de bord </h3>

    <div class="d-flex justify-content-around">
     <strong><%= link_to "Mes trajets précédents", mybookings_path(@bookings),class:"tab-active" %></strong>
     <%= link_to "Mes trajets en cours", dashboard_path(@bookings), class:"tab-inactive" %>
    </div>


  <%@bookings.each do |booking| %>
    <div class="card my-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-3">
          <%= image_tag "pieton.png", style: "width: 80%; height:80%" %>
        </div>
        <div class="col-6">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"> départ :<strong> <%=booking.trip.starting_point %></strong> </p>
              <p class="card-text"> arrivée :<strong> <%=booking.trip.ending_point  %> </strong> </p>
              <p class="card-text"> Date :<strong> <%= booking.trip.date %> </strong> </p>
              <p class="card-text"> Heure :<strong> <%= booking.trip.time %> </strong> </p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="col-3">
        <button class="btn btn-danger">Détails</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
