<div class="container">
  <%@bookings.each do |booking| %>
    <h2><%=booking.trip.starting_point %></h2>
    <h2><%=booking.trip.ending_point  %></h2>
    <h3><%= booking.trip.date %></h3>
    <h3><%= booking.trip.time %></h3>
    <p> <%= booking.trip.transport %> </p>
  <%end %>
</div>
