<%= image_tag "logofinal.png", style: "width: 100%" %>

<div>
  <h1 class="text-center m-2">Les AMAZONES</h1>
</div>
<div>
  <p class="text-center">Girls Power</p>
  <p class="text-center"> Déplacez-vous en sécurité quand vous voulez !</p>
</div>

<div class="container px-2">
  <div class="d-flex justify-content-around " style="width:100%; text-align: center; position:relative" >
      <%= form_tag trips_path, method: :get do |f| %>
          <%= text_field_tag :starting_point,
            params[:starting_point],
            class: "input-home my-2",
            placeholder: "Départ" %>
          <%= text_field_tag :ending_point,
            params[:ending_point],
            class: "input-home my-2",
            placeholder: "Arrivée" %>
            <br>
          <%= date_field_tag :date,
            params[:date],
            class: "input-home my-2 text-secondary"%>
          <div class="d-flex justify-content-center mt-3">
            <%=submit_tag "Rechercher", class:"button-red py-2" %>
          </div>
      <% end %>
  </div>
  <div style="margin-bottom: 120px">
    <%if @trips.empty? %>
      <p></p>
    <%else %>
      <h3 class="text-center mt-3 text-dark">Trajets au départ de <%= current_user.address %></h3>
      <%= render "shared/tripscard"  %>
    <%end %>
  </div>
</div>
<div class="navbar-amz fixed-bottom w-100">
  <%= link_to root_path do %>
   <%= image_tag "etoile.png", width:"30px", height:"30px"%>
  <% end  %>
  <%= link_to "Créer un trajet", new_trip_path, class:"navbar-item"  %>
  <%= link_to "Rechercher", root_path, class:"navbar-item-active"  %>
  <%= link_to "Mes trajets", dashboard_path, class:"navbar-item"%>
  <% if user_signed_in? %>
    <%= link_to user_page_path(current_user) do %>
      <%= cl_image_tag current_user.photo.key, class: "avatar"%>
    <% end %>
  <% else %>
    <%= image_tag "etoile.png", width:"30px", height:"30px"%>
  <% end  %>
</div>
