<!DOCTYPE html>
<html>
  <head>
    <title>Les Amazones</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
  </head>

  <body style="$body-bg: $light-gray">
    <div style="min-height:130vh">
      <%= yield %>
    </div>
  </body>


  <div class="navbar-amz fixed-bottom w-100">
    <%= image_tag "etoile.png", width:"30px", height:"30px"%>
    <%= link_to "Créer un trajet", new_trip_path, class:"navbar-item"  %>
    <%= link_to "Rechercher", root_path, class:"navbar-item"  %>
    <%= link_to "Mes trajets", dashboard_path, class:"navbar-item-active"   %>
    <div class="d-flex">
    <%if user_signed_in? %>
      <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete %>
      <%= cl_image_tag current_user.photo.key, class: "avatar"%>
    <%else %>
      <%= link_to "Se Connecter", new_user_session_path, class: "nav-link" %>
    <%end %>
    </div>
  </div>

</html>
