<!DOCTYPE html>
<html>
  <head>
    <title>Les Amazones</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
  </head>

  <body style="$body-bg: $light-gray">
    <%= yield %>
  </body>

  <footer>
    <div class="navbar-amz d-flex w-100 fixed-bottom">
      <%= image_tag "etoile.png", width:"30px", height:"30px"%>
      <%= link_to "Créer un trajet", root_path  %>
      <%= link_to "Rechercher un trajet", root_path  %>
      <%= link_to "Mes trajets", root_path  %>
      <%= image_tag "c-18_1779.jpg", width:"30px", height:"30px"%>
    </div>
 </footer>
</html>
